@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

h1{
    font-size: 45px;
    font-family: Roboto;
    font-weight: 700;
}

p{
    font-size: 25px;
    font-family: Open Sans;
}

.container{
    margin: 80px;
}
.buttons{
    font-family: Open Sans;
    text-decoration: none;
    background-color: #FF5959;
    padding: 12px 38px;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    margin-top: 10px;
}

.content-heading, .content-description{
    text-align: center;
}

/*
    Header start here!
*/
#header{
    background-image: url(/images/banner.jpg);
    background-size: cover;
    padding: 300px;
    text-align: center;
    color: white;
   
}

.home-heading{
    font-family: Roboto;
    font-size: 80px;
    font-weight: 700;
}

.home-description{
    font-family: Open Sans;
    font-size: 28px;
    margin: 10px 0;
}

/* 
    Donate Amounts start here
*/
.donate-amounts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 5px ;
}
.horizontal-line{
    border: 1px solid;
    padding: 0 700px;
    margin: 10px 0;
}
.amount-boxs{
    background-color: #FAFAFA;
    width: 120px;
    height: 100px;
    margin:30px 10px;
    border-radius: 10px;
    
}

#active-amount{
    background-color: #e72424c3;
    border-radius: 5px;
    border: 1px solid;
}
.amounts{
    font-size: 30px;
    font-weight: 700;
    padding: 25px;
}



/*
    Donate Plan start here
*/
.donate-plan{
    margin: 50px 0;
}
.flex-content{
    display: flex;
    justify-content: center;
}
.flex-heading{
    font-size: 24px;
    margin:20px 5px 0;
}
.flex-description{
    font-size: 16px;
    margin:20px 5px 0;
}
.foods, .shelter, .education{
    width: 360px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
}
.foods{
    background-color: #4F9DA61A;
    padding: 50px 20px 50px 15px;
    box-sizing: border-box; 
    
}
.shelter{
    background-color: rgba(255, 89, 89, 0.1);
    padding: 50px 20px 50px 15px;
    box-sizing: border-box; 
}
.education{
    background-color: #FFF4D6;
    padding: 50px 20px 50px 15px;
    box-sizing: border-box; 
}

/* 
    Update section start here
*/
.inputs{
    background-color: #FFF4D6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/*
     Footer start here 
*/

.footer{
    background-color: #0B0D17;
    text-align: center;
}

.footer-heading{
color: #FF5959;
font-family: Roboto;
}

.footer-paragraph{
    color: #D9DBE1;
    font-family: Open Sans;
}